.portfoliocard{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 200px;
    margin: 0 24px 24px;
}
.card--left-content{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.card--right-content{
    width: 50%;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.card--left-content img{
    max-height: 200px;
}