body {
  margin: 0;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 600;
  background: var(--primary-color);
}
:root{
  /* color */
  --primary-color: #fcfcfc;
  --accent-color:#8907bd;
  --accent-hover-color:#ab30e0;
  --text-color:#171717;
}